{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">

  <!-- Header -->
  {% include 'blog/includes/header.html' %}

  <!--Dynamic Content-->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {% include 'blog/includes/footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>